@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='text'],
input[type='email'],
input[type='date'],
input[type='datetime-local'],
input[type='password'],
input[type='url'],
textarea,
select {
  @apply border-gray-200 rounded-sm py-2 px-3 text-gray-700;

  &:focus {
    @apply outline-none border-indigo-500 ring-indigo-200 ring-4;
  }

  &:invalid::-webkit-datetime-edit {
    @apply text-gray-300;
  }

  &::placeholder {
    @apply text-gray-300 font-light text-sm;
  }
}

form {
  label {
    @apply block text-gray-500 text-sm font-light mb-2 cursor-pointer;
  }

  input[type='text'],
  input[type='email'],
  input[type='date'],
  input[type='datetime-local'],
  input[type='password'],
  input[type='url'],
  textarea,
  select {
    @apply mb-3 w-full;
  }

  input[type='radio'] {
    @apply border-gray-300 text-indigo-500 cursor-pointer align-text-top;

    &:hover,
    &:checked:hover,
    &:checked:focus {
      @apply ring-2 ring-indigo-200 border-white ring-offset-0;
    }

    &:focus-visible {
      @apply border-0 ring-2 ring-indigo-200 outline-none;
    }

    &:checked,
    &:active {
      @apply border border-white bg-indigo-500 ring-2 ring-indigo-200;
    }
  }

  select {
    &:invalid {
      @apply text-gray-300;
    }
  }

  .input-group {
    @apply grid grid-flow-col grid-cols-[auto_min-content] items-center border rounded-sm overflow-hidden mb-3;

    input {
      @apply border-none shadow-none mb-0 w-full;

      &:focus {
        @apply border-none ring-0;
      }
    }

    span {
      @apply grid bg-gray-50 border-l p-1 px-2 text-gray-400 text-sm h-full content-center;
    }
  }
}

.list-move,
.list-enter-active,
.list-leave-active {
  transition: transform 150ms linear, opacity 100ms;
  width: 100%;
}

.list-enter-from,
.list-leave-to {
  transform: translateY(-100px);
  width: 100%;
  opacity: 0;
}

.list-leave-active {
  position: absolute;
  width: 100%;
}

  .menu-items {
    @apply absolute right-0 w-32 mt-2 rounded-lg border border-indigo-50 bg-white divide-y divide-gray-100 shadow-md focus:outline-none z-10;
  }

  .menu-item {
    @apply w-full text-sm justify-start grid grid-cols-[min-content_auto] rounded-lg p-2 items-center hover:bg-indigo-600 hover:text-white;

}

button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input[type='text'],
input[type='email'],
input[type='date'],
input[type='datetime-local'],
input[type='password'],
input[type='url'],
textarea,
select {
  @apply border-gray-200 rounded-sm py-2 px-3 text-gray-700;

  &:focus {
    @apply outline-none border-indigo-500 ring-indigo-200 ring-4;
  }

  &:invalid::-webkit-datetime-edit {
    @apply text-gray-300;
  }

  &::placeholder {
    @apply text-gray-300 font-light text-sm;
  }
}

form {
  label {
    @apply block text-gray-500 text-sm font-light mb-2 cursor-pointer;
  }

  input[type='text'],
  input[type='email'],
  input[type='date'],
  input[type='datetime-local'],
  input[type='password'],
  input[type='url'],
  textarea,
  select {
    @apply mb-3 w-full;
  }

  input[type='radio'] {
    @apply border-gray-300 text-indigo-500 cursor-pointer align-text-top;

    &:hover,
    &:checked:hover,
    &:checked:focus {
      @apply ring-2 ring-indigo-200 border-white ring-offset-0;
    }

    &:focus-visible {
      @apply border-0 ring-2 ring-indigo-200 outline-none;
    }

    &:checked,
    &:active {
      @apply border border-white bg-indigo-500 ring-2 ring-indigo-200;
    }
  }

  select {
    &:invalid {
      @apply text-gray-300;
    }
  }

  .input-group {
    @apply grid grid-flow-col grid-cols-[auto_min-content] items-center border rounded-sm overflow-hidden mb-3;

    input {
      @apply border-none shadow-none mb-0 w-full;

      &:focus {
        @apply border-none ring-0;
      }
    }

    span {
      @apply grid bg-gray-50 border-l p-1 px-2 text-gray-400 text-sm h-full content-center;
    }
  }
}

.list-move, /* apply transition to moving elements */
.list-enter-active,
.list-leave-active {
  transition: transform 150ms linear, opacity 100ms;
  width: 100%;
}

.list-enter-from,
.list-leave-to {
  transform: translateY(-100px);
  width: 100%;
  opacity: 0;
  /* position: absolute; */
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.list-leave-active {
  position: absolute;
  width: 100%;
}
